body {
    background-color: black;
    color: white;
}

/* Typography */

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 54px;
    font-weight: 200;
    text-align: center;
}

h2 {
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 30px;
}

h3 {
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 30px;
}

h4 {
    font-size: 22px;
    line-height: 1.4;
    font-weight: 200;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
}

li {
    font-size: 21px;
}


/* General Styling */

li {
    background: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 24px;
    margin-bottom: 8px;
    border-radius: 3px;
    list-style: none
}

#timer-box {
    width: 100px;
}

button {
    margin: 60px 10px 0 0;
    width: 160px;
    height: 48px;
    font-size: 18px;
    font-weight: 400;
}

input {
    margin: 10px 10px 0 0;
    width: 160px;
    height: 48px;
    font-size: 18px;
}

input[type="text"] {
    width: 300px;
    height: 42px;
}


/* Flexbox */

Header,
Section,
#answer-space,
.button-row
Footer {
    Display: flex;
}

Section,
#answer-space {
    flex-direction: column;
    justify-content: flex-start;
}

Header {
    align-items: center;
    justify-content: space-between;
}


/* Grid */

header {
    grid-area: header;
}

section {
    grid-area: section;
}

footer {
    grid-area: footer;
}

body {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 14fr 1fr;
    grid-template-rows: 160px 60vh 20vh;
    grid-template-areas:
        "... header ..."
        "... section ..."
        "footer footer footer";
}

/* breakpoints */

@media only screen and (min-width: 768px) {
    body {
        grid-template-columns: 1fr 600px 1fr;
        grid-template-rows: 160px 60vh 20vh;
        grid-template-areas:
            "header header header"
            "... section ..."
            "footer footer footer";
    }

    header {
        padding: 40px;
    }

}